In [1]:
import pandas as pd

In [32]:
import glob

csv_files = []
for file in glob.glob("./csv/*.csv"):
    csv_files.append(file)

In [33]:
csv_files

['./csv\\dados_ficticios_carga_incremental_e_controle_de_mudancas-product.csv',
 './csv\\dados_ficticios_carga_incremental_e_controle_de_mudancas.csv']

## Fonte CSV

In [36]:
df = pd.read_csv(csv_files[0])

In [3]:
df = pd.read_csv("./csv/dados_ficticios_carga_incremental_e_controle_de_mudancas.csv")

In [37]:
df

   id         c1                   dt
0   1  product 1  2021/01/31 23:59:59
1   2  product 2  2021/01/31 23:59:59
2   3  product 3  2021/01/31 23:59:59
3   4  product 4  2021/01/31 23:59:59
4   5  product 5  2021/01/31 23:59:59

## JSON

In [25]:
json_orient_modes = ['split','records','index','columns','values','table']

for p in json_orient_modes:
    df.to_json(f"./json/dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-{p}.json", orient=p)

## JSON Lines

In [26]:
df.to_json('./json/dados_ficticios_carga_incremental_e_controle_de_mudancas.jsonl', orient='records', lines=True)

## Parquet

In [27]:
df.to_parquet('./parquet/dados_ficticios_carga_incremental_e_controle_de_mudancas.parquet', compression="snappy")

## Batch processing

In [49]:
json_orient_modes = ['split','records','index','columns','values','table']

for s in csv_files:
    df = pd.read_csv(s)
    for p in json_orient_modes:
        temp = s.replace('.csv',f"-json-orient-{p}.json").replace('./csv','./json')
        print(temp)
        df.to_json(s.replace('.csv',f"-json-orient-{p}.json").replace('./csv','./json'), orient=p)
    df.to_json(s.replace('.csv',f"-json-orient-records.jsonl").replace('./csv','./json'), orient='records', lines=True)
    df.to_parquet(s.replace('.csv','.parquet').replace('./csv','./parquet'), compression="snappy")

./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-product-json-orient-split.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-product-json-orient-records.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-product-json-orient-index.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-product-json-orient-columns.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-product-json-orient-values.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-product-json-orient-table.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-split.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-records.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-index.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-columns.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-values.json
./json\dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-table.json

In [ ]:
for p in json_orient_modes:
        df.to_json(f"./json/dados_ficticios_carga_incremental_e_controle_de_mudancas-json-orient-{p}.json", orient=p)

## References

* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html
* https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

* https://pandas.pydata.org/pandas-docs/version/1.1/reference/api/pandas.DataFrame.to_parquet.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html